body, text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(purple, gray, pink);
  margin: 40px;
  padding: 1em 0;
}

h1 {
  color: black;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: x-large;
  text-align: center;
}

.container {
  display:grid;
  grid-template-columns: repeat(4, [col] 150px ) ;
  grid-template-rows: repeat(2, [row] auto ) ;
  background-color: transparent;
  color: #444;
  opacity: .8;
  grid-gap: 5px, 5px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  border-style: solid;
  padding: 15px;
  font-size: 150%;
  overflow: baseline-position;
  align-content: center;
  margin: 10px;
}

.a {
  grid-column: col 1 / 6;
  grid-row: row 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b {
  grid-column: col 1 / span 2;
  grid-row: row 2 / span 4;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.c {
  grid-column: col 4 / 6;
  grid-row: row 2 / 5;
  height: auto;
  width: auto;
  align-content: baseline;
  object-fit: cover; 
}

.d {
  grid-column: col 1 / 4;
  grid-row: row 2 span 2;
  display: flex;
  align-items: stretch;
  justify-self: stretch;
}

.e {
  grid-column: col 1 / 6;
  grid-row: row 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin: 1rm;
  width: 100%;
  height: 100%;
} 
