@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


html {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("runeroom/assets/img/charlesdeluvio-pcZvxrAyYoQ-unsplash.jpg");
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  margin: 1ch;
  justify-self: center;
  
}

.one {
  display: flex;
  border: 1px solid gray;

  flex-wrap: wrap;
  width: viewport-length;
  height: (1,2);
  justify-content: center;
}

/* .two {
  height: 100%;
  width: 80% viewport-length;
  display: flex;
  grid-row: span;
  border: 1px solid gray;
  justify-self: auto;
  padding: 1px;
} */

.three {
  height: 15%;
  justify-content: center;
  max-width: viewport-length;
  display: flex;
}

.four {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1ch;
  margin-left: 1ch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  justify-items: stretch;
  grid-template-columns: repeat(3, 20px [col-start]);
  grid-template-rows: repeat(2, 20px [row-start]);
}

/* .five {
  border: 1px solid gray;
  height: 20%;
  max-width: 800ch;
  display: flex;
} */
/* 
.six {
  border: 1px solid gray;
  height: 10%;
  max-width: 800ch;
  display: flex;
} */
.card {
  width: 200px;
  height: 200px;
  background: black;
  margin: 3ch;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-top: 2ch;
  cursor: pointer;
 
}

/* .card:hover {
  background: blue;
  opacity: .2;
  transform: scale(2,2) skewY(1deg);
} */