body, text {
  color: black;
}

h1 {
  color: red;
  font-family: monospace;
}

h2 {
  color: blueviolet;
}

background-image {
  background-image: url(/Users/racheldixon/Documents/false-idols1/false-idols/assets/Magritte2Zoom.jpg);
}